﻿body {
    background-color: #00aaff;
    padding-top: 20px;
    padding-left: 10px;
}

#background {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#game-bottom-row {
    display: flex;
    width: 100%;
    position: relative;
}

.messageLayer {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 98%;
    position: absolute;
    background-color: #8dceee;
    justify-content: space-evenly;
    align-items: center;
    border: 5px solid #00aaff;
    border-radius: 25px;
}

#main {
    display: none;
}

#game-button-list {
    display: none;
}

#select {
    display: none;
}

#stop {
    display: none;
}

#setting {
    display: none;
}

#framerate {
    display: none;
}

#style {
    display: none;
}

#survival {
    display: none;
}

#loneliness {
    display: none;
}

#overpopulation {
    display: none;
}

#reproduction {
    display: none;
}

#pause {
    display: none;
}

#reset {
    display: none;
}

#resize {
    display: none;
}

h2 {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.layer-button {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.button {
    line-height: 20px;
    border: 5px solid #f8ede5;
    color: white;
    font-weight: bold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    background-color: #9cd44f;
    background-image: -webkit-linear-gradient(bottom, #9cd44f 0%, #95ff00 100%);
    background-image: linear-gradient(to bottom, #9cd44f  0%, #95ff00 100%);
    border-radius: 20px;
}

.button:hover {
    background-color: #00ff9d;
    background-image: -webkit-linear-gradient(bottom, #00ff9d 0%, #3ea17b 100%);
    background-image: linear-gradient(to bottom, #00ff9d 0%, #3ea17b 100%);
}