body {
    display: flex;
    justify-content: center;
    padding: 50px;
    background-color: #00aaff;
}

#background {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;    
    justify-content: space-evenly;
    align-items: center;
}

.canvas-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

#main {
    display: none;
    height: 250px;
    width: 300px;
    position: absolute;
    background-color: #8dceee;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 5px solid #00aaff;
    border-radius: 25px;
    margin: 50px;
}

h1 {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.button {
    display: block;
    line-height: 20px;
    border: 5px solid #f8ede5;
    color: white;
    font-weight: bold;
    text-shadow: -1px -1px 0 rgb(92, 91, 91), 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    background-color: #9cd44f;
    background-image: -webkit-linear-gradient(bottom, #9cd44f 0%, #95ff00 100%);
    background-image: linear-gradient(to bottom, #9cd44f  0%, #95ff00 100%);
    border-radius: 20px;
}

.button:hover {
    background-color: #00ff9d;
    background-image: -webkit-linear-gradient(bottom, #00ff9d 0%, #3ea17b 100%);
    background-image: linear-gradient(to bottom, #00ff9d 0%, #3ea17b 100%);
}

#credit {
    display: none;
    position: absolute;
    height: 90%;
    width: 300px;
    background-color: #8dceee;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 5px solid #00aaff;
    border-radius: 25px;
    padding: 50px;
}

#credit-producer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 270px;
}

#image-james {
    height: 130px;
    width: 100px;
}